@page "/"

@inject CarService carService


<PageTitle>Home</PageTitle>
<div class="w-full grid xl:grid-cols-3 lg:grid-cols-2 grid-cols-1 gap-6 p-4 auto-rows-[1fr]">

  @foreach (var car in cars)
  {
    <div class="card bg-base-100 shadow-lg hover:shadow-xl transition-shadow h-full">
      <div class="card-body flex flex-col">
        <h2 class="card-title justify-between">
          <span>@car.Make @car.Model</span>

          @if (car.Deleted)
          {
            <div class="badge badge-error">Deleted</div>
          }
        </h2>

        <div class="flex flex-col gap-1 text-sm">
          <p><span class="font-semibold">HP:</span> @car.HorsePower</p>
          <p><span class="font-semibold">Year:</span> @car.Year</p>
        </div>

        <!-- Push buttons to bottom -->
        <div class="mt-auto card-actions justify-end pt-4">
          <a href="/rent/@car.Id" class="btn btn-primary btn-sm">Rent</a>

          <AuthorizeView Roles="@ApiRoles.Admin">
            <Authorized>
              <a href="/edit/@car.Id" class="btn btn-secondary btn-sm">Edit</a>
            </Authorized>
          </AuthorizeView>
        </div>
      </div>
    </div>
  }

  <NavLink href="/create" class="btn btn-primary btn-lg w-full h-full flex flex-row items-center gap-2 justify-center">
    <span class="text-2xl">+</span>
    Create New Car
  </NavLink>

</div>





@code {
  List<FullCarDto> cars = [];

  protected override async Task OnInitializedAsync()
  {
    cars = await carService.GetCarsAsync();
  }
}